@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Space Mono', monospace;
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for WebKit */
::-webkit-scrollbar {
  width: 8px;
  /* width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  /* scrollbar color (green) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e;
  /* hover effect */
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}